<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InThuDoEntities" connectionString="metadata=res://*/EntityFramework.Inthudo.csdl|res://*/EntityFramework.Inthudo.ssdl|res://*/EntityFramework.Inthudo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THT\SQLEXPRESS;initial catalog=InThuDoMNG;user id=sa;password=niemvui;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>